html {
  font-size: 18px;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.map-section {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: #ddd;
}

.map-search-controls {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.map-search-controls input,
.map-search-controls select {
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 0.9rem;
  font-family: system-ui, sans-serif;
  padding: 0.25rem 0.5rem;
}

.map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Right side */
.itinerary-section {
  padding: 0.5rem;
}

.itinerary-controls {
  border: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.theme-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.price-filter {
  margin-top: 0.25rem;
}

/* Stop list styling */
.stop-list {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0 0;
}

.stop-list .stop {
  display: grid;
  grid-template-areas:
    "name         cost"
    "theme        duration"
    "description  description";
  grid-template-columns: 2fr 1fr;
  gap: 0.25rem 0.5rem;

  padding: 0.5rem;
  border-top: 1px solid #ccc;
}

.stop .name {
  grid-area: name;
  font-weight: bold;
}

.stop .cost {
  grid-area: cost;
  justify-self: end;
  font-size: 0.9em;
}

.stop .theme {
  grid-area: theme;
  font-size: 0.85em;
  font-style: italic;
}

.stop .duration {
  grid-area: duration;
  justify-self: end;
  font-size: 0.85em;
}

.stop .description {
  grid-area: description;
  font-size: 0.9em;
}
